@import "tailwindcss";



.hide-scrollbar::-webkit-scrollbar {
    display: none;
  }
  
  .hide-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;     /* Firefox */
  }

  .dialog-box::before {
    content: '';
    position: absolute;
    top: -8px;
    right: 16px;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid #303030;
  }
  

@plugin "tailwind-scrollbar-hide"